@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto-Thin";
  src: url("../common/assets/font/Roboto/Roboto-Thin.ttf"),
    url("../../../src/common/assets/font/Roboto/Roboto-Thin.ttf"); /* relative path is from tailwind-compiled.css */
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../common/assets/font/Roboto/Roboto-Regular.ttf"),
    url("../../../src/common/assets/font/Roboto/Roboto-Regular.ttf"); /* relative path is from tailwind-compiled.css */
}

@font-face {
  font-family: "Almendra-Display";
  src: url("../common/assets/font/Almendra Display/AlmendraDisplay-Regular.ttf"),
    url("../../../src/common/assets/font/Almendra Display/AlmendraDisplay-Regular.ttf"); /* relative path is from tailwind-compiled.css */
}

@layer components {
  .box-shadow-light-grey-1px {
    box-shadow: 0px 0px 1px #737373;
  }

  .box-shadow-dark-grey-1px {
    box-shadow: 0px 0px 1px #212121;
  }

  .box-shadow-dark-grey-2px {
    box-shadow: 0px 0px 2px #212121;
  }

  .box-shadow-dark-grey-3px {
    box-shadow: 0px 0px 3px #212121;
  }

  .box-shadow-light-grey-3px {
    box-shadow: 0px 0px 3px #bbbbbb;
  }

  .box-shadow-white-3px {
    box-shadow: 0px 0px 3px #ffffff;
  }

  .box-shadow-purple-8px {
    box-shadow: 0px 0px 8px #4202c2;
  }

  .box-shadow-purple-15px {
    box-shadow: 0px 0px 15px #4202c2;
  }

  .box-shadow-black-3px {
    box-shadow: 0px 0px 3px #000000;
  }

  .box-shadow-black-4px {
    box-shadow: 0px 0px 4px #000000;
  }

  .box-shadow-black-5px {
    box-shadow: 0px 0px 5px #000000;
  }

  .text-shadow-black-3px {
    text-shadow: 0px 0px 3px #000000;
  }

  .text-shadow-black-4px {
    text-shadow: 0px 0px 4px #000000;
  }

  .text-shadow-black-5px {
    text-shadow: 0px 0px 5px #000000;
  }

  .text-shadow-white-3px {
    text-shadow: 0px 0px 3px #ffffff;
  }
}
